# Executables #
###############
*.class
bin/

# Eclipse #
###########
.project
.settings
.externalToolBuilders/

# Conflicted copies and autosaves #
###################################
*~